{% extends "base.html" %}

{% block team_active %} active {%endblock team_active%}

{%block content%}

<div class="container-fluid pt-3 ps-5">

    <h1 style="font-family: 'Titan One', cursive;">Below Average</h1>
    <p>Below you will find the team members responsible for creating this webapp for their DIGIMAP class.<br>
        [DISCLAIMER] We did NOT create the model responsible for colorizing grayscale images, we just created the webapp showcasing the code that they created.</p>


</div>

<div class="container-fluid d-flex flex-row pt-5">

    <div class="col-3 d-flex justify-content-center align-items-center flex-column">

        <img class="team-member-pic mb-3 teal" src="{{url_for('static', filename='img/TM1.jpg')}}">
        <h6>Ralph Matthew H. Sanson</h6>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center flex-column">
        <img class="team-member-pic mb-3 teal" src="{{url_for('static', filename='img/TM2.jpg')}}">
        <h6>Rayvhen Mico Rosima</h6>
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center flex-column">

        <img style="zoom:69%;" class="team-member-pic mb-3 teal" src="{{url_for('static', filename='img/TM3.png')}}">
        <h6>Vincent B. Ilagan</h6>
        
    </div>

    <div class="col-3 d-flex justify-content-center align-items-center flex-column">

        <img class="team-member-pic mb-3 teal" src="{{url_for('static', filename='img/TM1.jpg')}}">
        <h6>Julian Sunpayco</h6>
        
    </div>
</div>

{% endblock content %}