{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid d-flex flex-row p-5">

        <div class="col-3 d-flex align-items-center">

            <div class="container rounded p-3 shadow" id="info">

                <h3 class="info-label">What is this?</h3> 
                <p> Add color to your grayscale image! The Colorful Image Colorizer (CIC) is a collection of 2 AI models that colorize grayscale images. Created by Zhang, R., et al.(2016 & 2017) Try it out!</p>
        
                <hr class="dropdown-divider">
        
                <h3 class="info-label">Instructions</h3>

                <div class="container d-flex flex-row">
                    <img style="zoom: 5%" src="{{ url_for('static', filename='img/info_1_img.png')}}" alt="info-1.png">
                    <p>Look for the upload button and select your image. This ONLY works for JPG/JPEG images.</p>
                </div>
                <div class="container-fluid d-flex flex-row">
                    <img style="zoom: 5%" src="{{ url_for('static', filename='img/info_2_img.png')}}" alt="info-1.png">
                    <p>Wait for the Colorful Image Colorizer to do its job.</p>
                </div>
                <div class="container-fluid d-flex flex-row">
                    <img style="zoom: 5%" src="{{ url_for('static', filename='img/info_3_img.png')}}" alt="info-1.png">
                    <p>Download and enjoy your two colorized and upscaled images.</p>
                </div>

            </div>

        </div>

        <div class="col-1"></div>

        <div class="col-8 d-flex align-items-center justify-content-center">

            <div class="container bisque shadow rounded py-5">
                <div class="container-fluid d-flex flex-row">
    
                    <div class="col-5 d-flex flex-column justify-content-center align-items-center ps-5">

                        <form action="/" method="POST"  enctype="multipart/form-data" class="d-flex justify-content-center align-items-center flex-column mt-4">

                          <div class="mb-3">
                            <input type="file" class=" custom-file-input" name="image" id="image">
                          </div>

                          <button type="submit" class="btn ms-2">Upload Image</button>

                        </form>

                        <div class="container img-box mt-3 d-flex justify-content-center align-items-center" id="gscale-box">
                            <img class="gscale-img" src="{{ url_for('static', filename='img/uploads/gs_image.jpg')}}" alt="">
                        </div>
                            
                        <a  class="btn mt-4" href="/colorize">Colorize!</a>

    
                    </div>
    
                    <div class="col-7   d-flex flex-column align-items-center justify-content-center ps-5">

                        <div class="container d-flex flex-row align-items-center justify-content-center">

                            <div class="container d-flex flex-column align-items-center justify-content-center">

                                <div class="container img-box d-flex align-items-center justify-content-center p-3 mb-2" id="eccv-box">
                                    <img class="colorized-img" src="{{ url_for('static', filename='img/colorized/eccv.png')}}" alt="">
                                </div>
                                <h6>ECCV16</h6>

                            </div>

                            <a type="button" class="btn mt-4 mb-3" href="{{ url_for('static', filename='img/colorized/eccv.png')}}">Download ECCV16</a>

                        </div>

                        <div class="container d-flex flex-row align-items-center justify-content-center">
                            
                            <div class="container d-flex flex-column align-items-center justify-content-center">

                                <div class="container img-box d-flex align-items-center justify-content-center p-3 mb-2" id="siggraph-box">
                                    <img class="colorized-img" src="{{ url_for('static', filename='img/colorized/siggraph.png')}}" alt="">
                                </div>
                                <h6>SIGGRAPH17</h6>

                            </div>

                            <a type="button" class="btn mt-4 mb-3" href="{{ url_for('static', filename='img/colorized/siggraph.png')}}">Download SIGGRAPH17</a>

                        </div>

                    </div>
    
                </div>
            </div>

            
        </div>
    </div>
    
{% endblock content %}