.navbar-brand{
    font-family: 'Titan One', cursive;
}

.navbar{
    background-color: #AFD9FF;
}

#info{
    background-color:#AFD9FF;
}


.debug1{
    background-color: teal;
}

.debug2{
    background-color:bisque;
}