{% extends "base.html" %}

{% block mech_active %} active {%endblock mech_active%}

{% block content %}

<div class="container-fluid pt-3 ps-5">

    <h1 style="font-family: 'Titan One', cursive;">How Colorful Image Colorizer Works</h1>
    <p>Colorful Image Colorization is an algorithm that takes in black & white photos and attacks the problem of attempting to 
        add plausible color schemes to it. What makes it unique is that previous implementations have either relied on a 
        significant amount of user interaction, or have resulted in desaturated colorizations. This algorithm however, 
        proposes a fully automated approach to providing photographs a set of vibrant, yet realistic colorizations by using a 
        feed-forward pass in a CNN whilst training the model with over a million existing images in order to be able choose what 
        sets of colors would match well with specific images.</p>
        <!-- The success rate was proven during a Turing Test conducted wherein 
        the algorithm was able to fool humans on 32% of the trials, which was significantly higher than previous methods. -->
    <img style="zoom:50%;" class="mx-auto d-block img-fluid" src="{{url_for('static', filename='img/process.png')}}">
    <p><br>Through this web application, you are provided a more accessible way of adding color to your photo within just a 
        few clicks. What happens behind the scenes however, is a bigger story. First the algorithm takes in the grayscale image
        you just uploaded, and then analyzes the objects in it. Based on the images it used in training, it then paints possible
        colors to the different areas of the image it thinks is the most appropriate. It then puts the colors on top of the 
        image that you have provided, producing a new image just for you.
    </p>


</div>

<div class="container-fluid pt-3 ps-5">
    <h3 style="font-family: 'Titan One', cursive;">Original Work</h3>
    <p>Click the <a href="http://richzhang.github.io/colorization/">here</a> for more information about the project</p>
</div>

{% endblock content %}